models/notebook.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap-env="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://localhost/web2/models/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost/web2/models/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://localhost/web2/models/">
      <xsd:complexType name="Oprendszerek">
        <xsd:all>
          <xsd:element name="hibakod" type="xsd:int" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="uzenet" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="oprendszerek" type="tns:OprendszerArray" minOccurs="0" maxOccurs="1"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="Oprendszer">
        <xsd:all>
          <xsd:element name="nev" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="Processzorok">
        <xsd:all>
          <xsd:element name="hibakod" type="xsd:int" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="uzenet" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="processzorok" type="tns:ProcesszorArray" minOccurs="0" maxOccurs="1"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="Processzor">
        <xsd:all>
          <xsd:element name="gyarto" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="tipus" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="Gepek">
        <xsd:all>
          <xsd:element name="hibakod" type="xsd:int" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="uzenet" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="tipus" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="nev" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="gepek" type="tns:GepArray" minOccurs="0" maxOccurs="1"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="Gep">
        <xsd:all>
          <xsd:element name="gyarto" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="tipus" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="kijelzo" type="xsd:int" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="memoria" type="xsd:int" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="merevlemez" type="xsd:int" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="videovezerlo" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="ar" type="xsd:int" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="db" type="xsd:int" minOccurs="0" maxOccurs="1"/>
        </xsd:all>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getoprendszerRequest"/>
  <wsdl:message name="getoprendszerResponse">
    <wsdl:part name="getoprendszerReturn" type="tns:Oprendszerek"/>
  </wsdl:message>
  <wsdl:message name="getprocesszorRequest"/>
  <wsdl:message name="getprocesszorResponse">
    <wsdl:part name="getprocesszorReturn" type="tns:Processzorok"/>
  </wsdl:message>
  <wsdl:message name="getgepRequest">
    <wsdl:part name="nev" type="xsd:string"/>
    <wsdl:part name="tipus" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="getgepResponse">
    <wsdl:part name="getgepReturn" type="tns:Gepek"/>
  </wsdl:message>
  <wsdl:portType name="NotebookPortType">
    <wsdl:operation name="getoprendszer">
      <wsdl:documentation/>
      <wsdl:input message="tns:getoprendszerRequest"/>
      <wsdl:output message="tns:getoprendszerResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getprocesszor">
      <wsdl:documentation/>
      <wsdl:input message="tns:getprocesszorRequest"/>
      <wsdl:output message="tns:getprocesszorResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getgep">
      <wsdl:documentation/>
      <wsdl:input message="tns:getgepRequest"/>
      <wsdl:output message="tns:getgepResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NotebookBinding" type="tns:NotebookPortType">
    <soap-env:binding xmlns="http://schemas.xmlsoap.org/wsdl/soap/" style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getoprendszer">
      <soap-env:operation xmlns="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://localhost/web2/models/szerver.php?method=getoprendszer" style="rpc"/>
      <wsdl:input>
        <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:input>
      <wsdl:output>
        <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getprocesszor">
      <soap-env:operation xmlns="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://localhost/web2/models/szerver.php?method=getprocesszor" style="rpc"/>
      <wsdl:input>
        <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:input>
      <wsdl:output>
        <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getgep">
      <soap-env:operation xmlns="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://localhost/web2/models/szerver.php?method=getgep" style="rpc"/>
      <wsdl:input>
        <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:input>
      <wsdl:output>
        <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Notebook">
    <wsdl:documentation/>
    <wsdl:port name="NotebookPort" binding="tns:NotebookBinding">
      <soap-env:address location="http://localhost/web2/models/szerver.php"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
